cffi==1.11.2
cryptography==2.3.0
flask==0.12.2
flask_cors==3.0.3
flask_graphql==1.4.1
graphene==2.0.1
graphene_sqlalchemy==2.0.0
jinja2==2.10
nose2==0.7.0
pandas==0.21.0
pyodbc==4.0.21
requests==2.9.1
sqlalchemy==1.1.14
