body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.btn-primary {
    color: #fff;
    background-color: #3f51b5;
    border-color: #3f51b5;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s
}

.btnCloseFake {
    width: 12px;
    height: 12px;
    margin-top: 2px;
    border-radius: 100%;
    background-color: #EB5D55;
    cursor: pointer;
}

.btnMinimizeFake {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-top: 2px;
    background-color: #F7BF33;
    cursor: pointer;
}

.btnMaximizeFake {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-top: 2px;
    background-color: #69CB44;
    cursor: pointer;
}

.background-box {
    background: rgba(0, 0, 0, 0.14);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
